@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0;
    font-family: "dm sans";
    padding: 0;
}

body {
    background-color: rgb(41, 41, 41);
    min-height: 100vh;
}

.normalnav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: 5px 5px 30px rgba(10, 10, 10, 0.4);
    z-index: 99999;
    backdrop-filter: blur(5px);    
}

.shortnav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(26, 26, 26, 0.5);
    box-shadow: 5px 5px 30px rgba(10, 10, 10, 0.4);
    z-index: 99999;
    backdrop-filter: blur(5px);
    display: none;
}

.loga {
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 9rem;
    padding: 1rem 0rem 1rem 1rem;
}

.o {
    width: 12rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

li {

        transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
    cursor: pointer;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navshort {
    list-style: none;
    padding: 1rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.ne {
    display: inline-block;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    list-style: none;
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;

}

.navkontakt {
    padding-top: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.offsetcislo {
    padding-left: 1.25rem;
}

.g {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navkontaktshort {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
}

.d {
    padding: 0rem 0rem 0rem 1rem;
}



.r {
    padding-left: 3.15rem;
}

p5 {
    padding-left: 1rem;
}

li:hover {
    background-color: rgba(233, 233, 233, 0.15);
    transform: scale(1.1);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.nee {
    color: rgb(148, 148, 148);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

.x {
    filter: brightness(4);
}


/*Main stuff*/

.uvod {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 25vh 0rem 20vh 0rem;
    text-align: center;
    background-image: url(obrazky/pozadí2.png);
    background-blend-mode: multiply;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0rem;
}

.nadpis {
    font-weight: 700;
    font-size: 5rem;
    color: rgb(223, 223, 223);
}

.nadpistext {
    
    font-size: 2rem;
    font-weight: 400;
    padding: 0rem 5rem;
    text-align: center;
    color: rgb(223, 223, 223);
}


.textbox > {
    color: rgb(167, 167, 167);
}







.parrr {
    display: block;
    padding: 1rem 0vw;
}

.kontaktypismoo {
    color: rgb(167, 167, 167);
    margin: 0vw;
    font-size: 2rem;
    padding: 5rem 0vw 1rem 0vw;
    font-weight: 1000;
    border-bottom: solid 2px rgb(212, 212, 212);
    width: 700px;
}

.kontaktypismooo {
    color: rgb(167, 167, 167);
    padding: 1rem 0vw;
    margin: 0vw;
    font-weight: 500;
    font-size: 1rem;
}

.kontaktypismoooo {
    color: rgb(167, 167, 167);
    padding: 0.1rem 0vw;
    margin: 0vw;
    font-weight: 1000;
    font-size: 1rem;
}


.kontaktypismo {
    color: rgb(167, 167, 167);
    padding: 0.1rem 0vw;
    margin: 0vw;
    font-weight: 500;
    font-size: 1rem;
}

.oballle {
    display: flex;
    align-items: center;
    padding: 0.1rem 0vw;
}

.nev {
    color: rgb(167, 167, 167);
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.kontaktypismoe {
    color: rgb(167, 167, 167);
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
    margin: 0vw;
    padding: 1rem 0vw 5rem 0vw;
}

.flexx {
    display: flex;
    
    justify-content: space-evenly;
    background-color: rgb(41, 41, 41);
}

.imput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.contact {
    border: none;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    background-color: rgb(54, 54, 54);
    color: rgb(214, 214, 214);
    border-radius: 0.25rem;
    font-weight: 500;
    padding-left: 1rem;
}

.contactt {
    border: none;
    outline: none;
    height: 4rem;
    font-size: 1rem;
    background-color: rgb(54, 54, 54);
    color: rgb(214, 214, 214);
    border-radius: 0.25rem;
    font-weight: 500;
    padding-left: 1rem;
}

.contacttt {
    border: none;
    outline: none;
    height: 4rem;
    font-size: 1rem;
    background-color: rgb(54, 54, 54);
    color: rgb(214, 214, 214);
    border-radius: 0.25rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-top: 1rem;
}

.odeslat {
    border: none;
    outline: none;
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(54, 54, 54);
    color: rgb(214, 214, 214);
    border-radius: 0.25rem;
    font-weight: 500;
    padding-left: auto;
}

.odeslatt {
    align-self: end;
    cursor: pointer;
}

.f:focus {
    border: 1px solid rgb(68, 68, 68);
}

.placeholder {
    color: white;
}

form {
    padding: auto;
}

.flex {
    padding: auto;
}








/*FOOTER*/

footer {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    
}

.inerflex {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    

}

.inerinerflex {
    display: flex;
    justify-content: space-between;
}

.padding {
    width: 288px;
    padding: 2rem 3rem;
}

.logaflex {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verticallogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logosize {
    width: 18rem;
    padding: 1rem 0rem;
}

.logofooter {
    width: 12rem;
    padding: 0rem;
}
.podpis {
    color: rgb(129, 129, 129);
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;

}

.flexmenu {
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

.kokot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nee {

    color: rgb(148, 148, 148);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

.w {
    padding: 1.2rem 0rem 1.2rem 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(148, 148, 148);
}

.navfooterkontakt {
    display: flex;
    flex-direction: column;
}

.navkontaktfooter {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footerkontakt {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(148, 148, 148);
}

hr {
    width: 18.5rem;
    border:  solid 1px rgb(121, 121, 121);
}

.footertitle {
      color: rgb(148, 148, 148);
      font-size: 1.9rem;
}

.h {
    transition: all 0.2s ease-in-out;
}

.h:hover {
    color: rgb(224, 224, 224);
}

/* display change */

@media only screen and (max-width: 1500px) {
    .flexx {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1345px) {
    .nabídkanadpis {
    background-image: url(obrazky/LINEAPLAN.png);
    background-size: 60vw;
    
    background-position: center;
    background-position-y: 5rem;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20rem 0rem 5rem 0rem;
    font-size: 3.5rem;
    color: rgb(182, 182, 182);
}
}

@media only screen and (max-width: 1350px) {
    .nabidkakarta {

        width: 430px;
        min-width: 430px;
        height: 600px;
        margin: 2rem 1rem 1rem 1rem;
        border-radius: 3vw;
        background-image: url(obrazky/karta3.png);
        background-size: cover;
        background-position: top center;
    }

    .nabidkaflex {
        display: flex;
    }

    .textbig {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    .demolice {
        width: 430px;
        min-width: 430px;
        height: 600px;
        margin: 2rem 1rem 1rem 1rem;
        border-radius: 3vw;
        background-image: url(obrazky/demolice.png);
        background-size: cover;
        background-position: top center;
    }

}

.menu-button {
    display: none;
}

@media only screen and (max-width: 980px) {

    .kontaktypismoo {
        width: auto;
    }
    
    .flex {
        width: 80vw;
    }

    form {
        width: 80vw;
        padding-bottom: 2rem;
    }

    .kontaktypismoo {
        padding: 2rem 0rem;
    }

    .kontaktypismoe {
        padding: 2rem 0rem;
    }

    .loga {
        flex-direction: column;
    }
    
    .logo {
        padding: 0.5rem;
        width: 7rem;
    }

    .normalnav {
        align-items: center;
    }
    
    .o {
        padding: 0rem 0rem 0.25rem 0rem;
    }

    .hideonmobile {
        display: none;
    }

    .menu-button {
        display: block;
        padding: 0rem;
        filter: brightness(4);
    }

    .p {
        padding: 0rem;
    }

    .x {
        filter: brightness(4);
    }

    .nadpis {
        font-size: 3rem;
    }
    
    .nabidkaflex {
        padding-top: 5rem;
        padding-bottom: 3rem;
        width: 600px;
        display: block;
        columns: 2;
        column-gap: 0vw;
        justify-content: center;
        align-items: center;
        column-width: 250px;
    }

    .nadpistext {
        font-size: 1.5rem;
        padding: 0;
    }

    .shortnav {
        width: 50vw;
    }

        .nabídkanadpis {
        font-size: 13vw;
        padding: 7rem 0rem 5rem 0rem;
        background-position: center;
        background-position-y: -0rem;
        background-size: 80vw;
        z-index: 999999;
    }

    .nabidkakarta {
        width: 290px;
        min-width: 290px;
        height: fit-content;
        min-height: auto;
        max-height: auto;
        margin: 0rem 1rem 1.5rem 1rem;
        padding-top: 1rem;
        border-radius: 3vw;
        background-image: url(obrazky/karta3.png);
        background-color: white;
        background-size: cover;
        background-position: top center;
    }
    
    .demolice {
        width: 290px;
        min-width: 290px;
        height: fit-content;
        min-height: auto;
        max-height: auto;
        margin: 0rem 1rem 3rem 1rem;
        border-radius: 3vw;
        background-image: url(obrazky/demolice.png);
        background-color: white;
        background-size: cover;
        background-position: top center;
    }

    .kartaoffset {
        padding: 20rem 0.75rem 0.75rem 0.75rem;
    }

    .textbig {
        font-size: 1.75rem;
    }
    
    .text {
        display: inline-block;
        font-size: 1rem;
        height: 2rem;
    }

    .flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


}

@media only screen and (max-width: 600px) {
    .nadpis {
        font-size: 10vw;
        padding: 0rem 3rem;
    }

    .nadpistext {
        font-size: 1.5rem;
        padding: 0rem 2rem;
        margin: auto auto;
    }

    br {
        display: none;
    }

    .uvod {
        padding: 15rem 0rem 10rem 0rem;
    }

    .shortnav {
        width: 100vw;
    }
    
    

    .nabídkanadpis {
        font-size: 13vw;
        padding: 7rem 0rem 5rem 0rem;
        background-position: center;
        background-position-y: -0rem;
        background-size: 80vw;
        z-index: 999999;
    }

    .nabidkakarta {
        width: 47vw;
        min-width: 47vw;
        height: fit-content;
        min-height: auto;
        max-height: auto;
        margin: 0vw auto 3vw auto;
        border-radius: 3vw;
        background-image: url(obrazky/karta3.png);
        background-color: white;
        background-size: cover;
        background-position: top center;
    }
    
    .demolice {
        width: 48vw;
        min-width: 48vw;
        height: fit-content;
        min-height: auto;
        max-height: auto;
        margin: 3vw auto;
        border-radius: 3vw;
        background-image: url(obrazky/demolice.png);
        background-color: white;
        background-size: cover;
        background-position: top center;
    }

    .kartaoffset {
        padding: 45vw 0.75rem 0.75rem 0.75rem;
    }

    .textbig {
        font-size: 5vw;
    }
    
    .text {
        display: inline-block;
        font-size: 3vw;
        height: 2rem;
    }

    .flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nabidkaflex {
        display: block;
        columns: 2;
        column-gap: 0vw;
    }    

    .navshort {
         padding-left: 2rem;
    }    

    .nabidkakarta:hover {
        transform: scale(1.00) translateY(-0px);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
    }

    .demolice:hover {
        transform: scale(1.00) translateY(-0px);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
   }   

}

@media only screen and (max-width: 750px) {
   .inerflex {
    display: flex;
    flex-direction: column;
   }

   .inerinerflex {
    display: flex;
    flex-direction: column;

   }

   .flexmenu {
    height: auto;
   }

   .logosize {
    width: 10rem;
   }

   .logofooter {
    width: 10rem;
   }

   .w {
    font-size: 1rem;
    padding: 0.5rem 0rem;
   }

   .footertitle {
    font-size: 1.75rem;
   }

   .padding {
    padding: 1rem 2rem;
   }

   .footerkontakt {
    font-size: 1rem;
   }

   .podpis {
    font-size: 0.7rem;
   }
}

